body {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
}
/*Partie desktop*/

@media screen and (max-width: 992px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header img {
        padding-top: 5%;
    }
    header nav {
        display: flex;
        justify-content: flex-end;
    }
    header ul {
        display: flex;
        justify-content: space-between;
    }
    header li {
        display: flex;
        justify-content: space-around;
        margin-right: 20%;
        padding-top: 30%;
    }

    header li:hover {
        border-top: 2px solid blue;

    }
    header nav a {
        display: flex;
        justify-content: center;
        text-align: center;
        color: black;
        text-decoration: none;
    }

}
